*
{
  font-family: FIGHTERsWriters;
  src: url("../fonts/PiratesWriters.ttf");
  padding: 0px;
  margin: 0px;
}

#stage
{
  position: relative;
  width: 512px;
  height: 510px;
  margin: 10px;
  background-image: url("../images/background.jpg");
  margin-left:40px;
  margin-top: 20px;
}

.cell
{
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 2px;
}

#game
{
  width: 600px;
  height: 700px;
  background-color: gray;
  border: 1px dashed black;
  margin-left: 30%;
  margin-top: 20px;
  border: dashed;
  border-color: blue;
}

@font-face
{
  font-family: FIGHTERsWriters;
  src: url("../fonts/PiratesWriters.ttf");
}

h1
{
  text-align: center;
  font-family: FIGHTERsWriters;
  font-size: 30px;
  color: yellow;
  background-color: blue;
}

p
{
  font-family: FIGHTERsWriters;
  font-size: 20px;
  width: 500px;
  padding: 10px;
  color: black;

}

#StartButton{
    height: 50px;
    width: 100px;
    background-color: yellow;
    margin-left: 230px;
    margin-top: 70px;
}

#mainScreen{
background-image: url("../images/background.jpg");
height: 580px;
width: 600px;
    margin-left: 30%;
    margin-top: 40px;
    border: dashed;
    border-color: yellow;

}
#ending{
    height: 30px;
    width: 200px;
    background-color: red;
    margin-left: 200px;
    text-align: center;
    padding-top: 10px;

}
#ReloadButton{
    height: 50px;
    width: 80px;
    background-color: red;
    margin-left: 300px;
    text-align: center


}
